.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

.display-1 {
  font-size: 1.5rem;
}

.display-2 {
  font-size: 1.8rem;
}

.display-3 {
  font-size: 2.5rem;
}

@media (max-width: map-get($sizes, "md")) {
  .display-sm-1 {
    font-size: 1.5rem;
  }

  .display-sm-2 {
    font-size: 1.8rem;
  }

  .display-sm-3 {
    font-size: 2.5rem;
  }
}

.text-right {
  text-align: right;
}
