.text-center {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

@for $i from 1 through 3 {
  .display-#{$i} {
    font-size: #{$i + $i / 4}rem;
  }
}
.text-right{
  text-align: right;
}