@import '_CssReset';
@import 'Variables';
@import 'Grid';

.row {
  > div {
    background-color: lightblue;
    height: 32px;
    border: 1px solid red;
  }
}
.flex{
    display: flex
}
.flex{
li{
    justify-content: center;
}
}