@import '_CssReset';
@import 'Variables';
@import 'Grid';
@import 'Utilities';
@import 'Text';
@import 'Buttons';

header {
  height: 94px;
}
li {
  a {
    color: $secondary-color;
  }
}

.how-it-works {
  img {
    height: 165px;
  }
}
